.container {
    display: flex;
    justify-content: space-between;
    background-color: #d0f0c0;
  }
  
  .item {
    background-color: #fff;
    padding: 20px; 
    border-radius: 5px;
    margin: 10px;
  }
  
  .item img {
    max-width: 100px;
    max-height: 100px;
  }