.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 10px;
    }
    body{
        text-align: center;
        width: 50%;
    }

    .scrollbar{ 
        grid-area: 2 / 1 / 7 / 3; 
        background-color: orange;
        border-radius: 10px;
    }
    .nav{ 
        grid-area: 2 / 3 / 3 / 8; 
        background-color: aqua;
        border-radius: 10px;
    }
    .main{
        grid-area: 3 / 3 / 7 / 8;
        background-color: lightblue; 
        border-radius: 10px;
    }
    .header{ 
        grid-area: 1 / 1 / 2 / 8;
        background-color: yellow;
        border-radius: 10px;
    }
    .footer{ 
        grid-area: 7 / 1 / 8 / 8; 
        background-color: black;
        border-radius: 10px;
    }