.container{
    display: grid;
    grid-template-columns: repeat(2,100px);
    grid-template-rows: repeat(3,100px);
    grid-gap: 100px;
}
.a{
    grid-area: 1 1/2 2 ;
    max-width: 100%;
}
.b{
    grid-area: 1 2/3 3 ;
    max-width: 100%;
}
.c{
    grid-area: 2 1/4 2 ;
    max-width: 100%;
}
.d{
    grid-area: 3 2/3 3 ;
    max-width: 100%;
}